html {
    background-color: rgb(159, 88, 161);
    color: black;
    margin: 0;
    padding: 0;
    cursor: url('../cursor/diamondsword.cur'), auto;
    overflow-x: hidden;
  }

  #marisa {
    height: 100px;
    padding-left: 25px;
  }

    /* Danger Maddy! This is how you're shrinking the navbar for mobile devices. */
@media screen and (max-width: 480px) {
    .navbar {padding-top: 5px;   height: 100%;width: 75%;}
    .navbar a {font-size: 12px;}
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
    margin: 40px;
    font-size: 25px;
    padding: 0;
    color:floralwhite;
    text-align: center;
  }

.nav
{
    list-style-type: none;
    margin:25px;
    font-size: 25px;
    padding: 0;
    text-align: center;
}

a
{
    color:floralwhite
}

a:hover
{
    color:rgb(229, 191, 226)
}