/* Note to Jules and Spax: I haven't bothered changing jack shit in 
regards to the old style we have, I'm a bit scared to fiddle with the
 stylesheet at the moment to figure out what we need and don't need 
 anymore. I commented out stuff that I was certain we probably wouldn't need though.*/

/* @import url("https://raw.githubusercontent.com/sindresorhus/modern-normalize/main/modern-normalize.css"); */

@font-face {
  font-family: "ADDSBP";
  src: url("/fonts/ADDSBP.ttf");
}

html, body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  background-color: rgb(209, 139, 211); /*rgb(235, 146, 215)*/
  color: black;
  margin: 0;
  padding: 0;
  cursor: url('/cursor/diamondsword.cur'), auto;
}

h2 {
  font-size: 27px;
  font-weight: bold; 
}


.sidebar-icon {
float: left;
height: 20px;
width: 20px;
margin-bottom: 32px;
}

section {
  text-align: center;
  margin: 16px;
  background-color: rgb(152, 109, 174);
  border: outset;
  border-color: rgb(139, 87, 187);
  overflow: hidden auto;
  height: calc(100% - 127px);
  width: calc(100% - 35px);
  color: floralwhite;
  display: flex;
  align-items: center;
  flex-direction: column;
  & > h1 {
    margin: 25px;
    font-size: 2em;
  }
  & > p {
    margin: 0;
    padding: 20px 50px;
    /* padding-bottom: 100px; */
    font-size: 20px;
  }
  & > .cwstyling {
    margin: 0;
    padding: 50px;
    /* padding-bottom: 100px; */
    font-size: 20px;
  }
}


body {
  overflow-x: hidden;
  font-family: "ADDSBP";
}

#marisa {
  height: 125px;
  width: 125px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

/*
#P01 {
  height: 637.5px;
  width: 412.5px;
  padding: 30px;
}
*/

#TheoAndPaul {
  padding: 30px;
  width: 500px;
}

.socials {
  font-size: 20px;
  font-family: "ADDSBP";
}

a {
  color: floralwhite;
  font-size: 20px;
}

a:hover {
  color: rgb(229, 191, 226);
}



/* Everything new that I tested earlier is bbelow this comment! */

/* Style the logo, for now it's text. */
.logo {
  font-weight: bold;
  font-size: 16px;
  display: block;
  width: auto;
  padding: 0 25px;
}

/* Styling the navbar. */
.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #847d9b;
  padding: 0;
  transition: background-color 0.3s;
}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling links and such */
.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
  padding: 0;
  margin: 0;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  display: block;
  padding: 40px 25px;
  font-size: 12px;
  line-height:1;
  transition: 0.3s;
}

.menu li a:hover {
  color: black;
  background-color: #cfc ;
}

/* The hamburger menu that appears on mobile devices, 
or more specifically the center line*/
.hamburger {
  position: relative;
  width: 30px;
  height: 5px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  height: 5px;
  right: 0;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}
/* First line of hamburger menu */
.hamburger::before {
  top: -10px;
  width: 30px;
}
/* Third line of hamburger menu */
.hamburger::after {
  top: 10px;
  width: 30px;
}
/* Positioning the menu */
.mobilemenu {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
/* Ensure that by default, the hamburger menu is invisible */
.hamburger, .mobilemenu {
  display: none;
}
/* Makes center line of burger invisible */
.navigation input:checked ~ .hamburger {
  background: transparent;
}
/* Animates the top line to form an X */
.navigation input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}
/* Animates the bottom line to form an X */
.navigation input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}
/* Menu opens */
.navigation input:checked ~ .menu {
  right: 0;
}

/* Reformat certain things to apply when on a mobile screen */

@media screen and (max-width: 720px){
  /* Activate the hamburger menu */
  .hamburger, .mobilemenu {
    display: block;
  }
  
  .header {
    padding: 10px 0;
  }
  
  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: #847d9b;;
    width: 300px;
    height: 100%;
  }
  
  section {
    height: calc(100% - 71px);

  }
  
  .menu li {
    width: 100%;
  }

  .comicsdropdown .comicbtn {
    font-size: 12px;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    line-height:1;
    transition: .3s;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
    width: 300px;
    height: 100%;
  }
  
  .comicdrop {
    display: none;
    position: absolute;
    background-color: #aba5be;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(73, 4, 58, 0.2);
    z-index: 3;
    width: 300px;
  }

}

/* Dropdown */
.comicsdropdown {
  float: left;
  overflow: hidden;
  
}

.comicsdropdown .comicbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  display: block;
  padding: 40px 25px;
  line-height:1;
  transition: 0.3s;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
  text-align: left;
}

.navbar a:hover, .comicsdropdown:hover .comicbtn {
  color: black;
  background-color: #cfc ;
}

.comicdrop {
  display: none;
  position: absolute;
  background-color: #aba5be;
  min-width: 160px;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(73, 4, 58, 0.2);
}

.comicdrop a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.comicdrop a:hover {
  background-color: #ddd;
}

.comicsdropdown:hover .comicdrop {
  display: block;
} 

.beendoing {
  font-size: 16px;
  text-align: center;
  padding-bottom: 100px;
}

.pixelated {
  image-rendering: pixelated;
}