/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@font-face {
  font-family: "ADDSBP";
  src: url(ADDSBP__.TTF);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  background-color: rgb(209, 139, 211); /*rgb(235, 146, 215)*/
  color: black;
  margin: 0;
  padding: 0;
  cursor: url('/cursor/diamondsword.cur'), auto;
}

h2 {
  font-size: 27px;
  font-weight: bold; /* you can change this, but ONLY use underlines for links! */
  color: rgb(193, 194, 168);
}

/* === SIDEBAR === */
#leftside {
  transition: width 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; /* makes transition smooth */
  overflow: hidden auto;
  margin: 0;
  padding: 0;
  opacity: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(159, 88, 161);
  font-family: "ADDSBP";
  color: floralwhite;
  list-style-type: none;
  font-size: 20px;
  & > img {
    margin: 40px;
    padding: 0;
  }
  & > :is(li, p, #sidebar-button) {
    margin: 20px;
  }
  & > #sidebar-button {
    font-size: 20px;
  }
  &:has(> #sidebar-button:checked) {
    width: 50px;
    & > :not(#sidebar-button) {
      opacity: 0;
    }
  }
}

#sidebar-button { /* button that collapses sidebar */
  color: rgb(193, 194, 168);
  visibility: hidden;
  font-family: ADDSBP;
  &::after {
    visibility: visible;
    content: "<";
  }
  &:checked::after {
    content: ">";
  }
}

/* === NOT sidebar idk you can organize this lol === */
iframe[src="/sidebar/sidebar.html"] {
  border: none;
  min-width: 0;
  width: 100%;
  max-width: 275px;
  /*&:has(> #leftside > #sidebar-button:checked) { //this doesn't fucking work im so sad
    width: 50px;
  }*/
}

section {
  text-align: center;
  margin: 16px;
  background-color: rgb(152, 109, 174);
  border: outset;
  border-color: rgb(139, 87, 187);
  overflow: hidden auto;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  color: floralwhite;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  
  & > h1 {
    margin: 22.5px;
    font-size: 2em;
  }
  & > p {
    margin: 0;
    padding: 25px;
    font-size: 20px;
  }
}

#header {
  margin-bottom: 5px;
  font-family: "ADDSBP";
}

body {
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* text-align: center; */
  overflow-x: hidden;
  /* float: center; */
  font-family: "ADDSBP";
}

#marisa {
  height: 125px;
  width: 125px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

#P01 {
  height: 637.5px;
  width: 412.5px;
  padding: 30px;
}

#TheoandPaul {
  padding: 30px;
}

#socials {
  font-size: 20px;
  font-family: "ADDSBP";
}

@media screen and (max-width: 200px) {
  #leftside {
    font-size: 12px;
    line-break: anywhere;
  }
  h2 {
    font-size: 16px;
  }
}

a {
  color: floralwhite;
}

a:hover {
  color: rgb(229, 191, 226);
}

#pageframe {
  width: 100%;
  height: 100%;
  border: none;
}