/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

html {
  background-color: rgb(235, 146, 215);
  color: black;
  margin: 0;
  padding: 0;
  cursor: url('/cursor/diamondsword.cur'), auto
}

#header {
  margin-bottom: 5px;
  font-family: 'Times New Roman'
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  float: center;
}

#marisa {
  height: 100px;
  padding: 30px;
}

  /* Danger Maddy! This is how you're shrinking the navbar for mobile devices. */
@media screen and (max-width: 480px) {
  .leftside {padding-top: 5px;   height: 100%;width: 75%;}
  .leftside a {font-size: 12px;}
}